nextpnr-diko/generated/
nextpnr-diko/objs/
nextpnr-diko/nextpnr-generic*
nextpnr-diko/nextpnr-ice40*
nextpnr-diko/nextpnr-ecp5*
nextpnr-diko/nextpnr-xc7*
nextpnr-diko/nextpnr-diko*
nextpnr-diko/cmake-build-*/
nextpnr-diko/Makefile
nextpnr-diko/cmake_install.cmake
nextpnr-diko/compile_commands.json
nextpnr-diko/CMakeFiles
nextpnr-diko/CMakeScripts
nextpnr-diko/CTestfile.cmake
nextpnr-diko/CMakeCache.txt
nextpnr-diko/*.so
nextpnr-diko/*.dll
nextpnr-diko/*.a
nextpnr-diko/*.cbp
nextpnr-diko/*.depends
nextpnr-diko/.*.swp
nextpnr-diko/a.out
nextpnr-diko/*.json
nextpnr-diko/build/
nextpnr-diko/*.asc
nextpnr-diko/*.bin
nextpnr-diko//Testing/*
nextpnr-diko/CTestTestfile.cmake
nextpnr-diko/install_manifest.txt
nextpnr-diko//bbasm
nextpnr-diko//ImportExecutables.cmake
nextpnr-diko/*-coverage/
nextpnr-diko/*-coverage.info

# nextpnr-xc7
nextpnr-diko/*.xdl
nextpnr-diko/*.bit

# ise
nextpnr-diko/_xmsgs/
nextpnr-diko/*.bgn
nextpnr-diko/*.drc
nextpnr-diko/*.ncd
nextpnr-diko/*.xwbt
nextpnr-diko/usage_statistics_webtalk.html
nextpnr-diko/webtalk.log
nextpnr-diko/xilinx_device_details.xml
nextpnr-diko/*_fpga_editor.*
nextpnr-diko/*.twr
nextpnr-diko/*.twx
nextpnr-diko/*.nlf
nextpnr-diko/*.sdf
