set_io Tile_X0Y8_A X0Y8.A
set_io Tile_X0Y8_B X0Y8.B
set_io Tile_X9Y8_A X9Y8.A
set_io Tile_X9Y8_B X9Y8.B
set_io Tile_X9Y8_C X9Y8.C
set_io Tile_X9Y8_D X9Y8.D
set_io Tile_X9Y8_E X9Y8.E
set_io Tile_X0Y7_A X0Y7.A
set_io Tile_X0Y7_B X0Y7.B
set_io Tile_X9Y7_A X9Y7.A
set_io Tile_X9Y7_B X9Y7.B
set_io Tile_X9Y7_C X9Y7.C
set_io Tile_X9Y7_D X9Y7.D
set_io Tile_X9Y7_E X9Y7.E
set_io Tile_X0Y6_A X0Y6.A
set_io Tile_X0Y6_B X0Y6.B
set_io Tile_X9Y6_A X9Y6.A
set_io Tile_X9Y6_B X9Y6.B
set_io Tile_X9Y6_C X9Y6.C
set_io Tile_X9Y6_D X9Y6.D
set_io Tile_X9Y6_E X9Y6.E
set_io Tile_X0Y5_A X0Y5.A
set_io Tile_X0Y5_B X0Y5.B
set_io Tile_X9Y5_A X9Y5.A
set_io Tile_X9Y5_B X9Y5.B
set_io Tile_X9Y5_C X9Y5.C
set_io Tile_X9Y5_D X9Y5.D
set_io Tile_X9Y5_E X9Y5.E
set_io Tile_X0Y4_A X0Y4.A
set_io Tile_X0Y4_B X0Y4.B
set_io Tile_X9Y4_A X9Y4.A
set_io Tile_X9Y4_B X9Y4.B
set_io Tile_X9Y4_C X9Y4.C
set_io Tile_X9Y4_D X9Y4.D
set_io Tile_X9Y4_E X9Y4.E
set_io Tile_X0Y3_A X0Y3.A
set_io Tile_X0Y3_B X0Y3.B
set_io Tile_X9Y3_A X9Y3.A
set_io Tile_X9Y3_B X9Y3.B
set_io Tile_X9Y3_C X9Y3.C
set_io Tile_X9Y3_D X9Y3.D
set_io Tile_X9Y3_E X9Y3.E
set_io Tile_X0Y2_A X0Y2.A
set_io Tile_X0Y2_B X0Y2.B
set_io Tile_X9Y2_A X9Y2.A
set_io Tile_X9Y2_B X9Y2.B
set_io Tile_X9Y2_C X9Y2.C
set_io Tile_X9Y2_D X9Y2.D
set_io Tile_X9Y2_E X9Y2.E
set_io Tile_X0Y1_A X0Y1.A
set_io Tile_X0Y1_B X0Y1.B
set_io Tile_X9Y1_A X9Y1.A
set_io Tile_X9Y1_B X9Y1.B
set_io Tile_X9Y1_C X9Y1.C
set_io Tile_X9Y1_D X9Y1.D
set_io Tile_X9Y1_E X9Y1.E
